
name: flask-app
run-name: ${{ github.actor }}s flask app

on: [push]

jobs:


  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]

    steps:
      - name: Azure Login
        uses: Azure/login@v1
        with:
          creds: ${{ secrets.AZ_CRED1 }}

      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      # - name: Install dependencies
      #   run: |
      #     python -m pip install --upgrade pip
      #     if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      # # - name: Test with pytest
      # #   run: |
      # #     pytest

      - name: set Kube context
        run: az aks get-credentials --resource-group flask-portfolio-project --name k8-cluster-flask 

      - name: call startup bash script
        run: bash ${GITHUB_WORKSPACE}/kube-start.sh

      - name: create deployments
        run: kubectl create -f flask-app-deployment.yaml


      #- name: Delete Old Deployments  
